{% load static %}
<footer style="padding:10px;">

    <div style="width: 20%; float: left; padding: 2%;">
        <a  href="index.html"><img src="{% static 'images/99.png' %}" alt="Nfitness Logo" width='200px' height='200px' ></a>
    </div>
        
            <div class="copyright" ><p>
        
                <a style="color: rgb(255, 255, 255);font-size: large;"href="index.html">Home</a>
                <a style="color: rgb(255, 255, 255);font-size: large;"href="about.html">About Us</a> 
                
                <p style="font-size: medium;"><a href="mailto:nfitness2022@gmail.com">nfitness2022@gmail.com</a></p>
                
                
            </p>	
                
        </div>
<div style=" float: right; padding: 2%;">
    
<p><a  href= target="_blank"><img src="{% static 'images/facebook-logo.png' %}" alt="black and white Facebook logo"></a></p>
<p>	<a href= target="_blank"><img src="{% static 'images/twitter-logo.png' %}" alt="black and white Twitter logo"></a></p>
</div>

    
</footer>