<nav class="tablet-desktop" >   
    <ul>
        &nbsp;&nbsp;<li><span><a href="{% url 'index' %}">Home</a></span></li> 
        <li><span><a href="{% url 'about' %}">About Us</a></span></li> 
        <li><span><a href="{% url 'gain' %}">Weight Gaining</a></span></li> 
        <li><span><a href="{% url 'loss' %}">Weight loss</a></span></li> 
        <li><span><a href="{% url 'acc' %}">Accessories</a></span></li>
        <li><span><a href="{% url 'login' %}">Log-in/sign-up</a></span></li>
          </div>
    </ul>   
</nav>
</div>
